@tailwind base;
@tailwind components;
@tailwind utilities;

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;800&family=Poppins:wght@400;500;600;800&family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  background-color: #F5F5F5;
}

/* Add content to pseudo-element and style for unchecked checkbox */
input[type="checkbox"] {
  position: relative;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background-color: #E0E0E0;
  outline: none;
  transition: all 0.2s ease-in-out;
  cursor: pointer;
}

input[type="checkbox"]:checked {
  background-color: #000000;
}

input[type="checkbox"]::after {
  content: "+";
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-55%, -50%);
  align-items: center;
  color: #fff;
  opacity: 0;
  transition: all 0.2s ease-in-out;
}

input[type="checkbox"]:checked::after {
  opacity: 1;
}